<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/common :: head('예시')">

</head>

<body>

    <!-- Topbar Start -->
    <div th:replace="fragment/common :: topbar"></div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">카테고리</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div th:replace="fragment/common :: category"></div>
                </nav>
            </div>
            <div class="col-lg-9">
                <div th:replace="fragment/common :: navbar"></div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">장바구니</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                    <tr>
                        <th>상품정보</th>
                        <th>상품금액</th>
                        <th>수량</th>
                        <th>주문금액</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    <tr th:each="cart : ${cartResponseDtoList}">
                        <input type="hidden" th:id="cartId" th:value="${cart.id}">
                        <td class="align-middle">
                            <img th:if="${cart.productMainImageDtoList.size() > 0 && cart.productMainImageDtoList[0].path != null }"
                                 th:src="|/upload/display?fileName=${cart.productMainImageDtoList[0].getThumbnailURL()}|" alt="" style="width: 50px;">
                            <span th:text="${cart.goods.product.name}">상품정보</span></td>
                        <td class="align-middle" th:text="${cart.goods.product.price + '원'}">상품금액</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus minusBtn">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" th:id="cartQuantity" th:value="${cart.cartQuantity}" th:min="1" th:max="${cart.goods.stock}">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus plusBtn">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <span th:text="${cart.cartPrice + '원'}">주문금액</span>
                        </td>
                        <td class="align-middle"><button class="btn btn-sm btn-primary deleteBtn"><i class="fa fa-times"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
<!--                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>-->
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">결제금액</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">총 주문금액</h6>
                            <h6 class="font-weight-medium" th:text="${totalPrice + '원'}">원</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">배송비</h6>
                            <h6 class="font-weight-medium">무료</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">총 결제금액</h5>
                            <h5 class="font-weight-bold" th:text="${totalPrice + '원'}">원</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3" th:onclick="|location.href='@{/orders/form}'|">구매하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


    <!-- Footer Start -->
    <div th:replace="fragment/common :: footer"></div>
    <!-- Footer End -->


    <!-- JavaScript -->
    <div th:replace="fragment/common :: js"></div>


    <script>

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ready(function() {
            $(".minusBtn, .plusBtn").on("click", function() {
                var cartId = $(this).closest("tr").find("#cartId").val();
                var cartQuantity = $(this).parent().parent().find("#cartQuantity").val();

                var data = {
                    id: cartId,
                    cartQuantity: cartQuantity
                };

                $.ajax({
                    type: 'PUT',
                    url: '/cart/modifyOrdersQuantity',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(data) {
                        location.reload();
                    }
                });
            });

            $(".deleteBtn").on("click", function() {
                var cartId = $(this).closest("tr").find("#cartId").val();

                $.ajax({
                    type: 'DELETE',
                    url: '/cart/deleteCart',
                    data: {
                        cartId: cartId
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(data) {
                        location.reload();
                    }
                });
            });
        });

    </script>

</body>

</html>