<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/common :: head('글 내용')">

</head>

<body>

    <!-- Topbar Start -->
    <div th:replace="fragment/common :: topbar"></div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">카테고리</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div th:replace="fragment/common :: category"></div>
                </nav>
            </div>
            <div class="col-lg-9">
                <div th:replace="fragment/common :: navbar"></div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <div class="container">
        <h4>게시판</h4>
        <form action="#" th:object="${customerBoardResponseDto}" method="post">
            <!--<input type="hidden" th:field="*{id}">--> <!-- 글 수정 -->

            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" disabled>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메시지
                </div>
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="3" th:field="*{content}"
                          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" disabled></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    내용 에러 메시지
                </div>
            </div>

            <div class="text-right">
                <a class="btn btn-primary" th:href="@{/support/customer_center}">목록</a>
                <!--<a class="btn btn-secondary" th:href="@{/support/customer_center_board_form(id=${customerBoardResponseDto.id})}">수정(테스트)</a>-->
                <!--<button type="submit" class="btn btn-secondary"
                        sec:authorize="hasRole('ROLE_USER')" th:onclick="|deleteBoard(*{id})|">삭제</button>-->
            </div>

        </form>

        <!--        <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>

                <a href="/" role="button" class="btn btn-primary bi bi-pencil-square"> 수정</a>
                <button type="button" onclick="" id="btn-delete" class="btn btn-danger bi bi-trash"> 삭제</button>-->

        <div class="card">
            <div class="card-header bi bi-chat-dots">댓글</div>
            <ul class="list-group-flush" th:each="comment : ${customerCommentResponseDtoList}">
                <li class="list-group-item">
                <span>
                    <span style="font-size: small" th:text="${comment.user.name}">작성자</span>
                    <button class="badge bi bi-trash">삭제</button>
                    <div class="card-body" style="font-size: small" th:text="${comment.comment}">댓글 내용</div>
                </span>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header bi bi-chat-right-dots">댓글 작성</div>
            <form>
                <input type="hidden" th:id="customerBoardId" th:value="${customerBoardResponseDto.id}">
                <div class="card-body">
                    <textarea sec:authorize="isAuthenticated()" th:id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="card-footer" sec:authorize="isAuthenticated()">
                    <button type="button" id="btn-comment-save" class="btn btn-outline-primary bi bi-pencil-square">등록</button>
                </div>
                <div class="card-body" style="font-size: small" sec:authorize="!isAuthenticated()"><a th:href="@{/account/login}">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</div>
            </form>
        </div>

    </div>


    <!-- Footer Start -->
    <div th:replace="fragment/common :: footer"></div>
    <!-- Footer End -->


    <!-- JavaScript -->
    <div th:replace="fragment/common :: js"></div>


    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $("#btn-comment-save").on("click", function() {

            const data = {
                customerBoardId : $('#customerBoardId').val(),
                comment : $('#comment').val()
            }

            if (!data.comment || data.comment.trim() === "") {
                alert("공백 또는 입력하지 않은 부분이 있습니다.");
                return false;
            } else {

                $.ajax({
                    type: 'POST',
                    url: '/support/customer_center_comment_form',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    beforeSend : function(xhr){
		                xhr.setRequestHeader(header, token);
	                }
                }).done(function () {
                    alert('댓글이 등록되었습니다.');
                    window.location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            }
        });

    </script>

</body>

</html>