<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/common :: head('옵션 색상 추가')">

</head>

<body>

    <!-- Topbar Start -->
    <div th:replace="fragment/common :: topbar"></div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">카테고리</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div th:replace="fragment/common :: category"></div>
                </nav>
            </div>
            <div class="col-lg-9">
                <div th:replace="fragment/common :: navbar"></div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">옵션 색상 추가</h1>
            <div class="d-inline-flex">
                <p class="m-0">관리자 전용</p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">'상품 옵션 등록'시 선택 가능한 옵션의 색상을 추가합니다. (모든 상품 적용)</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container">
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">옵션 색상 추가</h4>
                <form class="product-register" th:action="@{/product/add_option_color}" method="post">
                    <div class="col-4 mb-3">
                        <label for="color" class="form-label">색상</label>
                        <input type="text" class="form-control" id="color" th:name="color" required>
                    </div>
                    <button class="btn btn-primary" type="submit">색상 추가하기</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Footer Start -->
    <div th:replace="fragment/common :: footer"></div>
    <!-- Footer End -->


    <!-- JavaScript -->
    <div th:replace="fragment/common :: js"></div>

</body>

</html>